
main{
    border-width: 3px;
    border-style:inset;
    border-color:black;
    height: 70vh;

    background-image: url('backpack.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.heros{
    display: flex;
    flex-direction: column;
    
}

#cb{
    position: relative;
    left: 100px;
    top:150px;
}

#cn{
    position: relative;
    right: 150px;
}

#cm{
    position:relative;
    left:200px;
    bottom:20%;
}

#cr{
    position:relative;
    left:1px;
    bottom:300px;
}

#pchit{
    position: relative;
    right: 100px;
    bottom: 5%;
}
#monstre3{
    position: relative;
    right: 227px;
    bottom: 5px;
}

#aspi{
    position: relative;
    top: 30px;
}
#monstre2{
    position: relative;
    top: 40px;
    right:135px;
}

#pel{
    position: relative;
    right: 100px;
    top:30%;
}
#monstre1{
    position: relative;
    right: 214px;
    top:35%;
}

footer {
    border-width: 3px;
    border-style:double;
    border-color:black;
}

#aa{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    display: flex;
    justify-content:space-evenly;

}

#al{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    float: left;
    width:70%;
}

#ac{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    display: flex;
    justify-content: center;
    flex-direction:column;
}

