
main{
    border-width: 3px;
    border-style:inset;
    border-color:black;
    height: 70vh;

    background-image: url('backpack.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.heros{
    display: flex;
    flex-direction: column;
    
}

#cb{
    position: relative;
    left: 0%;
    top:10%;
}

#cn{
    position: relative;
    right:60%;
    bottom:10%
}

#cm{
    position:relative;
    left:30%;
    bottom:30%;
}

#cr{
    position:relative;
    right:30%;
    bottom:50%;
}

#pchit{
    position: relative;
    right: 30%;
    bottom: 30%;
}
#monstre3{
    position: relative;
    right: 68%;
    bottom: 27%;
}

#aspi{
    position: relative;
    bottom: 15%;
}
#monstre2{
    position: relative;
    bottom: 15% ;
    right:40%;
}

#pel{
    position: relative;
    right: 30%;
    top:10%;
}
#monstre1{
    position: relative;
    right: 65%;
    top:15%;
}

footer {
    border-width: 3px;
    border-style:double;
    border-color:black;
}

#aa{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    display: flex;
    justify-content:space-evenly;

}

#al{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    float: left;
    width:70%;
}

#ac{
    border-width: 2px;
    border-style:inset;
    border-color:black;

    display: flex;
    justify-content: center;
    flex-direction:column;
}

#pvJoueur1{
    color: green;
}
#manaJ1{
    color: aqua;
}

#pvJoueur2{
    color: green;
}
#manaJ2{
    color: aqua;
}

#pvJoueur3{
    color: green;
}
#manaJ3{
    color: aqua;
}

#pvJoueur4{
    color: green;
}
#manaJ4{
    color: aqua;
}

.joueurs{
    color: white;
    background-color:black;
}

#al{
    color: white;
    background-color: black;
}